@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.wrapper {
    min-width: 768px;
}
