.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

.input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
