.wrapper {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.field {
    min-width: 300px;
    margin-right: 20px;
}

.error {
    width: 100%;
    color: red;
    margin-top: 20px;
    font-size: 12px;
}
