.wrapper {
    background: #3467c0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    min-height: 100px;
}

.mainTitle {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.secondaryTitle {
    color: #ccc;
    margin-top: 10px;
    font-size: 14px;
}

.buttonsWrapper {
    margin-left: auto;
    flex: 0 0 auto;
}

.button {
    padding: 15px;
    border-radius: 3px;
    font-size: 15px;
    transition: all 0.2s;
}

.mainButton {
    color: #3467c0;
    background: #fff;
    min-width: 150px;
    border: 1px solid #fff;
}

.mainButton:hover {
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
}

.secondaryButton {
    color: #fff;
    border: 1px solid #fff;
    min-width: 100px;
    margin-right: 10px;
}

.secondaryButton:hover {
    background: #2e5cac;
}
