.wrapper {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    text-transform: uppercase;
}

.nameButtonWrapper {
    flex: 1;
}

.nameButton {
    color: #3467c0;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.phone {
    flex: 1;
}

.sortingIcon {
    margin-left: 5px;
}
