.wrapper {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.wrapper:hover {
    background: rgba(154, 220, 255, 0.1);
}

.name {
    flex: 1;
}

.phoneAndButtons {
    flex: 1;
    display: flex;
}

.button {
    color: #3467c0;
    font-size: 12px;
}

.button:hover {
    text-decoration: underline;
}

.deleteButton {
    margin-left: auto;
    margin-right: 20px;
}
